@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    margin: 0;
    top: 0;
    left: 0;
}

body {
    margin: 1rem;
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: inherit;
    transition: .3s;
}

a:hover {
    color: #3c919d;
    transition: .3s;
}

img {
    object-fit: contain;
    max-height: 4rem;
}

iframe {
    height: 300px;
    width: 600px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    padding: 2rem;
}

.description {
    padding: 1rem;
}

.services-container {
    padding: 1rem;
    width: 80%;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}

.showcase-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-top: 5rem;
}